* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

html {
    font-family : sans-serif;
    scroll-behavior : smooth;
}

body {
    
}

.header {
    position : fixed;
    top : 0;
    width : 100%;
    background : url('/assets/img/background-header.jpg') repeat-x;
    padding : 5px 0;
    z-index : 10000;
}

.header__main {
    position : relative;
    display : flex;
    align-items : center;
    justify-content : space-between;
}

.header__logo {
   
}

.header__logo img {
    width : 142px;
    height : 50px;
}

.header__nav {
    list-style-type : none;
    display : flex;
    align-items : center;
}

.header__nav-item {
    margin : 0 15px;
}

.header__nav-item-link {
    position : relative;
    padding : 30px 0;
    text-decoration : none;
    color : white;
    font-size : 14px;
    text-transform : uppercase;
}

.header__nav-item-link::after {
    position : absolute;
    content : "";
    display : block;
    bottom : 0;
    height : 2px;
    background-color : white;
    border-radius : 5px;
    width : 0;
    left : 50%;
    transform : translateX(-50%);
    transition : all ease 0.3s;
    z-index : 100;
}

.header__nav-item:hover .header__nav-item-link::after{
    position : absolute;
    content : "";
    display : block;
    bottom : 0;
    height : 2px;
    background-color : white;
    border-radius : 5px;
    width : 100%;
}

.header__user {

}

.header__user button {
    font-size : 16px;
    border : none;
    outline : none;
    background-color : transparent;
    padding : 12px 36px;
    color : white;
    cursor : pointer;
    border-radius : 26px;
}

.header__user button:hover {
    color : #c1392b;
}

.header__user-signup {
    margin-right : 5px;
}

.header__user .header__user-signup:hover {
    background-color : white;
}

.header__user .header__user-login {
    border : 2px solid white;
}

.header__user .header__user-login:hover {
    background-color : white;
}

/* menu-bar-btn */
.header__menu-bar-btn {
    position : relative;
    cursor : pointer;
    display : none;
}

.bar__close {
    position : absolute;
    background-color : transparent;
    width : 30px;
    height : 30px;
    top : 10px;
    right : 18px;
    z-index : 10000;
    display : none;
}

.bar1,
.bar2,
.bar3 {
    width : 30px;
    height : 2.5px;
    background-color : white;
    margin : 6px 0;
    transition : all linear 0.3s;
}

.bar1 {

}

.bar2 {

}

.bar3 {

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

.change ~ .bar__close {
    display : block;
}

/* menu-bar */
.header__menu-bar {
    position : fixed;
    top : 59px;
    right : 0;
    left : 0;
    bottom : 0;
    background-color : #c1392b;
    display : flex;
    /* align-items : center; */
    justify-content : center;
    text-align : center;
    z-index : 1001;
    transition : all ease-in-out 0.9s;
    transform : translateY(-150%);
    overflow-y : auto;
}

.header__menu-bar.open {
    transform : translateY(0);
}

.header__menu-bar.close {
    transform : translateY(-100%);
}

.header__menu-bar-list {
    list-style : none;
}

.header__menu-bar-item {
    margin : 50px 0;
}

.header__menu-bar-item:nth-child(5) .header__menu-bar-item-link,
.header__menu-bar-item:nth-child(6) .header__menu-bar-item-link {
    font-size : 16px;
}

.header__menu-bar-item-link {
    position : relative;
    font-size : 14px;
    text-decoration : none;
    color : white;
    padding : 30px 0;
}

.header__menu-bar-item-link::after {
    position : absolute;
    content : "";
    display : block;
    bottom : 0;
    height : 2px;
    background-color : white;
    border-radius : 5px;
    width : 0;
    left : 50%;
    transform : translateX(-50%);
    transition : all ease 0.3s;
}

.header__menu-bar-item:hover .header__menu-bar-item-link::after {
    position : absolute;
    content : "";
    display : block;
    bottom : 0;
    height : 2px;
    background-color : white;
    border-radius : 5px;
    width : 100%;
}

.header__menu-bar-item:nth-child(5),
.header__menu-bar-item:nth-child(6) {
   border-radius : 25px;
}

.header__menu-bar-item:nth-child(5) .header__menu-bar-item-link::after ,
.header__menu-bar-item:nth-child(6) .header__menu-bar-item-link::after {
    display : none;
}

.header__menu-bar-item:nth-child(5):hover .header__menu-bar-item-link ,
.header__menu-bar-item:nth-child(6):hover .header__menu-bar-item-link {
    color : #c1392b;
}

.header__menu-bar-item:nth-child(5):hover,
.header__menu-bar-item:nth-child(6):hover {
    background-color : white;
}


.header__menu-bar-item:nth-child(5) {
    padding : 14px 32px;
}


.header__menu-bar-item:nth-child(6) {
    padding : 14px 36px;
    border : 2px solid white;
}



/* banner */
.banner {
    position : relative;
    color : white;
    width : 100%;
    background-color : #c1392b;
    text-align : center;
}

.banner__background {

}

.banner__order {

}

.banner__row {
    margin-top : 40px;
}

.banner__heading:nth-child(1) {
    padding-top : 50px;
}

.banner__heading:nth-child(2) {
    padding : 5px 0 20px 0;
}

.banner__heading {
    font-size : 24px;
}

.banner__desc {
    font-size : 14px;
}

.banner__order-btn {
    outline : none;
    font-size : 16px;
    color : #c1392b;
    padding : 16px 25px;
    text-transform : uppercase;
    border-radius : 100px;
    margin-top : 38px;
    border : 2px solid white;
}

.banner__order-btn:hover {
    background-color : transparent;
    color : white;
    cursor : pointer;
}

.banner__order-img {
} 

.banner__order-img img {
    width : 100%;
    max-width : 835px;
} 

.footer__banner {
    position : absolute;
    top : 100%;
}

.footer__banner img {
    width : 100%;
}

/* container */
.container {
}


/* difficulty */
.difficulty {
    margin-top : 250px;
}

.difficulty__heading {
    text-align : center;
    /* margin : 30px 0; */
}

.difficulty__heading h1 {
    font-size : 30px;
    font-weight : 500;
    color : #30373b;
    text-transform : uppercase;
    line-height : 1.6;
}

.difficulty__heading p {
    font-size : 18px;
    margin : 18px 0 50px 0;
    line-height : 1.6;
}

.difficulty__row {
    margin-top : 40px;
    display : flex;
    align-items : center;
    justify-content : space-evenly;
}

.difficulty__list {
    list-style-type : none;
    width : 680px;
}

.difficulty__item {
    display : flex;
    align-items : center;
}

.difficulty__item:nth-child(2) {
    padding : 24px 0;
}

.difficulty__item {
   margin-left : 73px;
}

.difficulty__item img {
    margin-right : 24px;
    width : 33px;
    height : 33px;
    object-fit : cover;
}

.difficulty__item p {
    font-size : 15px;
    font-weight : 400;
}

.difficulty__img {
    width : 100%;;
    display : flex;
    justify-content : center;
}

.difficulty__img img {
    width : 200px;
    height : 200px;
    object-fit : cover;
}

/* solve */
.solve {
    padding-top : 80px;
}

.solve__row {

}

.solve__item {
    text-align : center;
    transition : all linear 0.3s;
}

.solve__item, 
.solve__img,
.solve__heading,
.solve__desc {
    transition : all linear 0.3s;
}

.solve__img {
    width : 200px;
    height : 200px;
    object-fit : cover;
}

.solve__heading {
    font-size : 16px;
    text-transform : uppercase;
    color : #30373b;
    margin : 16px 0;
}

.solve__desc {
    font-size : 15px;
    width : 100%;
}


/* order */
.order {
    margin-top : 80px;
    margin-bottom : 85px;
}

.order__row {
}


.order__heading {
    position : relative;
    display : flex;
    align-items : center;
    width : 100%;
    padding : 10px 20px;
    background-color : #c1392b;
    color : white;
}


.order__heading::after {
    content : "";
    display : block;
    position : absolute;
    right : 99.11112%;
    top : 99%;
    width : 0;
    height : 0;
    border : 5px solid;
    border-color : #c1392b #c1392b transparent transparent;
}

.order__heading::before {
    content : "";
    display : block;
    position : absolute;
    left : 99.11112%;
    top : 99%;
    width : 0;
    height : 0;
    border : 5px solid;
    border-color : #c1392b transparent transparent #c1392b;
}



.order__heading h1 {
    text-transform : uppercase;
    font-size : 24px;
    font-weight : 500;
    margin-right : 10px;
}

.order__heading p {
    font-size : 14px;
}

.order__content {
    padding : 30px;
    box-shadow : 0px 1px 6px 2px rgba(0,0,0,0.3);
    margin : 0 10px;
    width : 100%;
}

.order__pay {
}

.order__pay p {
    font-size : 15px;
    font-weight : bold;
    color : black;
    line-height : 50px;
}

.order__pay p span {
    font-weight : 500;
    margin : 0 5px;
}

p span {
    display : inline-block;
    background-color : #c1392b;
    color : white;
    width : 20px;
    height : 20px;
    text-align : center;
    line-height : 20px;
    border-radius : 50%;
}

.order__criteria {
    font-size : 15px;
}

.order__criteria span {
    margin-right : 10px;
}

.order__criteria p {
    padding : 10px 0;
}

.order__table {
    width : 100%;
    text-align : center;
    font-size : 15px;
    border-collapse : collapse;
    margin-top : 15px;
    margin-bottom : 20px;
}

.order__table tr td{
    border : 1px solid #dee2e6;
}

.order__table tr th{
    border : 1px solid white;
}


.order__table th,tr,td {
    padding : 12px;
}

.order__table th {
    background-color : #969494;
    font-weight : 500;
    color : white;
}

.order__table tr:nth-child(even) td {
    background-color : #f5f5f5;
}

.order__table tr:nth-child(odd) td {
    background-color : #ececec;
}


.order__table td {

}

.order__note {
    font-size : 15px;
    line-height : 1.6;
}

/* quality */
.quality {
    color : white;
    text-align : left;
}

.quality__background {
    background-image : url('/assets/img/bg__container-2.png');
    background-repeat : no-repeat;
    background-size : 100% 100%;
    background-position : center center;
    width : 100%;
    height : 100%;
    padding : 120px 12px;
}

.quality .difficulty__heading h1,
.quality .difficulty__heading {
    color : white;
}

.quality__row {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap : 30px;
}

.quality__item {
}

.quality__item-img {
   height : 80px;
   display : flex;
   align-items : center;
   margin-bottom : 10px;
}

.quality__item-img img {
    position : relative;
    left : 50%;
    transform : translateX(-50%);
}

.quality__item-text {
}

/* signup */
.signup {
    margin-top : 150px;
}

.signup__row {

}

.signup__form {
  margin : 0 auto;
  display : flex;
  flex-direction : column;
  /* width : 100%; */
  z-index : 1000;
}

.input__name, 
.input__password, 
.input__number {
    display : block;
    width : 660px;
    padding : 10px 20px 10px 0;
    margin-top : 20px;
    outline : none;
    border-left : none;
    border-top : none;
    border-right : none;
    border-bottom : 4px double #cccccc;
}

.input__name {
    margin-top : 0;
}

.input__password {

}

.input__number {
    margin-bottom : 24px;
}

.signup__container {
    display : flex;
    align-items : center;
    justify-content : space-around;
}

.signup__warehouse {
    border-right : 1px solid #c1392b;
    padding-right : 30px;
}

.signup__warehouse,
.signup__service {
    font-size : 15px;
}

.signup__warehouse-heading,
.signup__service-heading  {
    text-transform : uppercase;
    font-size : 16px;
}

label {
    padding : 8px 30px 10px 6px;
}

.signup__warehouse-radio,
.signup__service-radio {
    padding-top : 20px;
    display : flex;
    align-items : center;
    justify-content : space-around;
}

input[type=radio] {
    width : 18px;
    height : 18px;
}

.signup__service {
}

.signup__service-heading {
}

.signup__service-radio {

}


.signup__btn {
    width : 155px;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    margin : 30px 0;
    background-color : #c1392b;
    color : white;
    padding : 15px 25px;
    border : none;
    outline : none;
    text-transform : uppercase;
    font-size : 16px;
    font-weight : bold;
    border-radius : 50px;
    transition : all linear 0.3s;
}

.signup__btn:hover {
    cursor : pointer;
    transform : translateX(-50%) scale(1.1);
    opacity : 0.9;
}


/* tutorial */
.tutorial {
    position : relative;
    width : 100%;
    height : 100%;
    padding-top : 5px;
    margin-top : 100px;
    z-index : 100;
    margin-bottom : 100px;
}

.tutotial__box {
    width : 100%;
    height : 100%;
}

.tutorial__row {
    width : 100%;
}

.tutorial .difficulty__heading {
    position : relative;
    background-color : #272b32;
    width : 100%;
    z-index : 1000;
}

.tutorial .difficulty__heading::after {
    content : "";
    position : absolute;
    display : block;
    width : 100%;
    height : 460px;
    background-color : #272b32;
    background-size : 100% auto;
    left : 0;
    top : 0;
    right : 0;
    z-index : -1;
}

.tutorial::after {
    content : "";
    display : block;
    position : absolute;
    /* note : dùng position : bottom để khi kéo màn hình thì nó luôn nằm dưới chứ không bị nhảy lên */
    background-position : bottom;
    background-image : url('/assets/img/tutorial__top.png');
    background-size : 100% auto;
    background-repeat : no-repeat;
    top : -248px;
    width : 100%;
    height : 254px;
    z-index : 100;
}

.tutorial::before {
    content : "";
    display : block;
    position : absolute;
    top : 160px;
    background-image : url('/assets/img/tutorial__bottom.png');
    background-size : 100% auto;
    background-repeat : no-repeat;
    width : 100%;
    height : 700px;
    background-position : bottom;
    margin-bottom : 50px;
}

.tutorial .difficulty__heading,
.tutorial .difficulty__heading h1 {
    color : white;
}

.tutorial__row {

}

.tutorial__img {
    position : relative;
    max-width : 926px;
    max-height : 605px;
    margin : auto;
    z-index : 1000;
}

.tutorial__img-box {
    display : block;
    width : 100%;
    height : auto;
}

.tutorial__img-video {
    position : absolute;
    top : 35px;
    left : 112px;
    z-index : 999;
}


/* extension */
.extension {
}

.extension__row {

}


.extension__item {
    width : 100%;
    
}



.extension__img {
    width : 100%;
}

.extension__img img {
    width : 100%;
    height : 100%;
}

.extension__browse-content,
.extension__operatingSystem-content {
    display : flex;
    align-items : center;
    justify-content : space-between;
}

.extension__browse-content img:hover,
.extension__operatingSystem-content img:hover {
    opacity : 0.6;
    cursor : pointer;
}


.extension__browse-heading,
.extension__operatingSystem-heading {
    text-align : center;
    font-size : 20px;
    line-height : 1.6;
    margin-bottom : 10px;
}

.extension__browse-content {

}

.extension__operatingSystem {
    margin-top : 30px;
}

.extension__operatingSystem-heading {

}

.extension__browse-content,
.extension__operatingSystem-content {
    width : 100%;
    height : 100%;
}


.extension__browse-content img 
.extension__operatingSystem-content img {
    width : 100%;
    height : 100%;
}


/* vote */
.vote__background {
    position : relative;
    width : 100%;
    height : 100%;
    background-color : #c1392b;
    color : white;
}

.vote__background::before {
    content : "";
    display : block;
    position : absolute;
    bottom : 100%;
    width : 100%;
    height : 100%;
    background-image : url('/assets/img/vote__bg-top.png');
    background-size : 100% auto;
    background-repeat : no-repeat;
    background-position : bottom;
    z-index : -1;
}

.vote__background::after {
    content : "";
    display : block;
    position : absolute;
    top : 100%;
    width : 100%;
    height : 30%;
    background-image : url('/assets/img/vote__bg-bottom.png');
    background-size : 100% auto;
    background-repeat : no-repeat;
    background-position : top;
}

.vote {
    margin-top : 100px;
}

.vote .difficulty__heading h1 {
    color : white;
    padding-top : 100px;
    position : relative;
}

.vote::after {
    content : "";
    display : block;
    top : -1px;
    position : absolute;
    width : 100%;
    height : 50px;
    background-color : #c1392b;
}

.vote__row {
    width : 100%;
}

.vote__item {
    display : flex;
    align-items : center;
    flex-direction : column;
    justify-content : center;
}

.vote__img {
    width : 160px;
    height : 160px;
    margin-bottom : 60px;
    border : 2px solid white;
    border-radius : 50%;
    
}

.vote__img img {
    width : 100%;
    height : 100%;
}

.vote__name {
    font-size : 20px;
    text-transform : capitalize;
    text-align : center;
    padding-top : 20px;
}

.vote__evaluate {
    position : relative;
    font-size : 15px;
    margin-top : 15px;
    text-align : justify;
    padding : 0 30px;
    height : 100%;
    line-height : 1.5;
}

.vote__evaluate::after {
    content : "";
    display : block;
    position : absolute;
    background : url('/assets/img/vote__nhaykep.png') no-repeat center;
    width : 25px;
    height : 25px;
    top : -12px;
    left : -3px;
}


/* partner */
.partner {
    margin-top : 200px;
    z-index : 1000;
}

.partner__heading {
    text-transform : uppercase;
    font-size : 30px;
    text-align : center;
    margin-bottom : 50px;
}

.partner__row {
    justify-content : space-around;
}

.partner__item {
    width : 100%;
    height : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
}

.partner__item a {
    display : flex;
    justify-content : center;
}

.partner__item img {
   width : 75%;
   transition : all ease 0.3s;
}

.partner__item img:hover {
    background-color : #ececec;
}

/* advise */
.advise {
    margin-top : 50px;
    background-color : #c1392b;
    padding : 20px 0;
}

.advise__row {

}

.advise__item {
    display : flex;
    align-items : center;
}

.advise__item-text {
    font-size : 26px;
    color : white;
    line-height : 26px;
}

.advise__item:nth-child(2) {
    justify-content : flex-end;
}

.advise__item-btn {
    color : white;
    font-size : 24px;
    background-color : #c1392b;
    padding : 6px 30px;
    border : 2px solid white;
    outline : none;
    border-radius : 100px;
    transition : all ease 0.3s;
}

.advise__item-btn:hover {
    color : #c1392b;
    background-color : white;
    cursor : pointer;
}


/* footer */
.footer {
    width : 100%;
    height : 100%;
    background : url('/assets/img/footer__bg.png') no-repeat #000 center;
    background-size : 100% auto;
    padding-top : 20px;
}

.footer__row {

}

.footer__item {

}

.footer__heading {
    margin-bottom : 30px;
    line-height : 50px;
}

.footer__heading,
.footer__item-child-province {
    font-size : 18px;
    color : #c12e1d;
    position : relative;
}

.footer__heading::after {
    content : "";
    display : block;
    left : 0;
    position : absolute;
    bottom : -10px;
    width : 95px;
    border-bottom : 2px dotted #c12e1d;
}

.footer__heading-text {
    font-size : 20px;
    text-transform : uppercase;
    font-weight : 500;
    margin : 15px 0;
    line-height : 1.6;
}

.footer__heading-text,
.footer__item-child-address {
    color : #cccccc;
}

.footer__item-child-address {
    font-size : 15px;
}

.footer__item-list {

}

.footer__item-child {
    list-style-type : none;
    padding-left : 0;
}

.footer__item-child-province {
}

.footer__item-child-address {
    margin : 10px 0 20px;
}


.footer__item-child-link {
    display : block;
    color : #cccccc;
    font-size : 15px;
    line-height : 1.6;
    text-decoration : none;
    margin-bottom : 30px;
    transition : all ease 0.3s;
}

.footer__item-child-link:hover {
    color : #c0a200;
}

.footer__item:last-child {
    position : relative;
}

.footer__bg-bottom {
    position : absolute;
    width : 220px;
    height : 70px;
    top : 63%;
    left : -69px;
}

.footer__bg-bottom img {
    width : 100%;
    height : 110%;
    object-fit : cover;
}


.footer__bottom {
    font-size : 18px;
    text-align : center;
    padding : 16px 6px;
}

.footer__bottom-phone,
.footer__bottom-contact {
    color : #cccccc;
    line-height : 1.6;
    font-weight : 400;
    font-style : italic;
}

.footer__bottom-contact {
}

.footer__bottom-contact-link {
    color : #0000ee;
}

/* message */

.message {
    display : flex;
    align-items : center;
    justify-content : space-between;
    position : fixed;
    bottom : 0px;
    color : white;
    right : 5px;
    z-index : 10000;
}

.message:hover {
    cursor : pointer;
}

.message__icon {
    display : flex;
    align-items : center;
    padding : 9px 10px;
    background-color : #478b00;
    font-size : 14px;
    border-top-left-radius : 6px;
}


.message__text {
    background-color : #559803;
    padding : 7px 10px;
    font-size : 14px;
    text-transform : uppercase;
    font-weight : bold;
    border-top-right-radius : 6px;
}

/* message__support */
.message__support {
    position : fixed;
    bottom : 0;
    right : 5px;
    width : 290px;
    z-index : 10000;
    box-shadow : 0px 4px 4px 3px rgba(0,0,0,0.3);
    overflow : hidden;
    transition : all linear 0.3s;
    transform : translate(105%, 120%);
}

.message__support.open {
    transform : translate(0,0);
}

.message__support-heading {
    display : flex;
    align-items : center;
    background-color : #559803;
    justify-content : center;
    color : #d3e5bd;
    padding : 6px 10px;
    position : relative;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
}

.message__support-heading-text {
    font-size : 12px;
    text-transform : uppercase;
}

.message__support-close {
    position : absolute;
    right : 10px;
    top : 50%;
    font-size : 12px;
    transform : translateY(-50%);
}

.message__support-close:hover {
    cursor : pointer;
}

.message__support-container {
    padding : 10px 20px;
    background-color : white;
    border-bottom : 2px solid #ebebeb;
}

.message__support-staff {
    position : relative;
    display : flex;
}

.staff__border {
    position : absolute;
    bottom : -5px;
    left : -20px;
    width : 120%;
    border-bottom : 2px solid #ebebeb;
}

.message__support-staff-img {

}

.message__support-staff-img img {
    width : 30px;
    height : 30px;
    border-radius : 5px;
    margin-right : 8px;
}

.message__support-staff-info {

}

.message__support-staff-heading {
    font-size : 14px;
    color : #686868;
}

.message__support-staff-desc {
    font-size : 13px;
    color : #b0b0b0;
}

.message__support-content {
    font-size : 14px;
    color : #6a6a6a;
    margin : 20px 0;
}

.message__support-content-start {
    margin-bottom : 10px;
    text-align : center;
}

.message__support-content-start:nth-child(2) {
    margin-bottom : 20px;
}

.message__support-content-info {
    display : flex;
}

.message__support-content-info-img {

}

.message__support-content-info-img img {
    width : 25px;
    height : 25px;
    border-radius : 3px;
    margin-right : 10px;
}

.message__support-content-info-text {

}

.message__support-content-info-text-heading {
    font-size : 13px;
    margin-bottom : 5px;
}

.message__support-content-info-text-desc {
    font-size : 12px;
}

.message__support-input {
    background-color : white;
    padding : 10px 20px;
}

.message__support-input input {
    width : 100%;
    padding : 15px 10px;
    outline : none;
    border : 2px solid #ececec;
    border-radius : 10px;
    
}

.message__support-btn {
    padding : 0px 20px 10px 20px;
    background-color : white;
}
.message__support-btn button {
    width : 100%;
    background-color : #559803;
    color : white;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 1px;
    padding : 8px 0;
    border : none;
    border-radius : 5px;
    transition : all ease 0.3s;
}

.message__support-btn button:hover {
    cursor : pointer;
    opacity : 0.8;
    transform : scale(0.9);
}

.message__support-footer {
    background-color : white;
    display : flex;
    color : #6a6a6a;
    padding : 5px 20px 10px 20px;
    align-items : center;
}

.message__support-footer-select:hover,
.message__support-footer-login:hover {
    cursor : pointer;
    opacity : 0.8;
}

.message__support-footer i {
    font-size : 6px;
    padding : 0 5px;
}

.message__support-footer-login {

}
